In [14]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)

In [15]:
tennis_data <- read_csv("/home/jovyan/dsci-100-group_project/dsci100-group69/atp2017-2019.csv")
tennis_data

New names:
• `` -> `...1`
Rows: 6866 Columns: 50
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (16): tourney_id, tourney_name, surface, tourney_level, winner_seed, win...
dbl (34): ...1, draw_size, tourney_date, match_num, winner_id, winner_ht, wi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     ...1 tourney_id                     tourney_name               surface
1    0    2019-M020                      Brisbane                   Hard
2    1    2019-M020                      Brisbane                   Hard
3    2    2019-M020                      Brisbane                   Hard
⋮    ⋮    ⋮                              ⋮                          ⋮
6864 2883 2017-M-DC-2017-WG-M-BEL-FRA-01 Davis Cup WG F: BEL vs FRA Hard
6865 2884 2017-M-DC-2017-WG-M-BEL-FRA-01 Davis Cup WG F: BEL vs FRA Hard
6866 2885 2017-M-DC-2017-WG-M-BEL-FRA-01 Davis Cup WG F: BEL vs FRA Hard
     draw_size tourney_level tourney_date match_num winner_id winner_seed ⋯
1    32        A             20181231     300       105453    2           ⋯
2    32        A             20181231     299       106421    4           ⋯
3    32        A             20181231     298       105453    2           ⋯
⋮    ⋮         ⋮             ⋮            ⋮         ⋮         ⋮           ⋱
6864 4         D             20171124     2         104542    NA          ⋯
6865 4         D             20171124     4         105676    NA          ⋯
6866 4         D             20171124     5         106298    NA          ⋯
     l_1stIn l_1stWon l_2ndWon l_SvGms l_bpSaved l_bpFaced winner_rank
1    54      34       20       14      10        15         9
2    52      36        7       10      10        13        16
3    27      15        6        8       1         5         9
⋮    ⋮       ⋮        ⋮        ⋮       ⋮         ⋮         ⋮
6864 54      30       12       12      5         11        15
6865 54      44       13       14      7         10         7
6866 53      29       11       11      4         11        18
     winner_rank_points loser_rank loser_rank_points
1    3590                16        1977
2    1977               239         200
3    3590                40        1050
⋮    ⋮                  ⋮          ⋮
6864 2320               76          667
6865 3775               15         2320
6866 2235               76          667

**Above:** our csv file read into R

Now, we will wrangle our data into a tidy format:

In [16]:
tennis_data <- select(tennis_data, tourney_date, winner_hand, 
                      winner_age, loser_hand, loser_age)
tennis_data

     tourney_date winner_hand winner_age loser_hand loser_age
1    20181231     R           29.00479   R          22.88569
2    20181231     R           22.88569   R          33.70568
3    20181231     R           29.00479   R          31.88227
⋮    ⋮            ⋮           ⋮          ⋮          ⋮
6864 20171124     R           32.59411   R          33.68925
6865 20171124     R           26.95414   R          32.59411
6866 20171124     R           23.73990   R          33.68925

In [ ]:
right_handed_win <- table(tennis_data$winner_hand)
right_handed_win

   L    R    U
 979 5831   56