In [31]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)

In [32]:
tennis_data <- read_html("https://raw.githubusercontent.com/keelbeier/dsci100-group69/main/atp2017-2019.csv")
tennis_data

ERROR: Error in read_html("https://raw.githubusercontent.com/keelbeier/dsci100-group69/main/atp2017-2019.csv"): could not find function "read_html"

**Above:** our csv file read into R

Now, we will wrangle our data into a tidy format:

In [16]:
tennis_data <- select(tennis_data, tourney_date, winner_hand, 
                      winner_age, loser_hand, loser_age)
tennis_data

     tourney_date winner_hand winner_age loser_hand loser_age
1    20181231     R           29.00479   R          22.88569
2    20181231     R           22.88569   R          33.70568
3    20181231     R           29.00479   R          31.88227
⋮    ⋮            ⋮           ⋮          ⋮          ⋮
6864 20171124     R           32.59411   R          33.68925
6865 20171124     R           26.95414   R          32.59411
6866 20171124     R           23.73990   R          33.68925